<div [formGroup]="calculatorForm">

  <p>Please input</p>

  <label>Superannuation percentage</label>
  <div class="input-group">
    <input class="form-control" type="number"
           formControlName="superRate"
           required
           [min]="minSuperRate">
    <div class="input-group-addon">%</div>
  </div>

  <label>Year</label>
  <input class="form-control"
         type="number"
         formControlName="year"
         required>

  <label>Gross</label>
  <div class="input-group">
    <div class="input-group-addon">
      <input type="radio"
             formControlName="grossOnly" [value]="true">
      <span>&nbsp;Gross</span>
    </div>
    <input class="form-control"
           formControlName="gross"
           type="number"
           required
           [readonly]="!calculatorForm.get('grossOnly').value">
  </div>

  <label>Gross + Superannuation</label>
  <div class="input-group">
    <div class="input-group-addon">
      <input type="radio"
             formControlName="grossOnly" [value]="false">
      <span>&nbsp;Gross+Super</span>
    </div>
    <input class="form-control"
           formControlName="grossPlusSuper"
           type="number"
           required
           [readonly]="calculatorForm.get('grossOnly').value">
  </div>

  <label>Tax</label>
  <div class="form-control">{{calculatorForm.value.tax | number:'1.2-2'}}</div>

  <label>Net</label>
  <div class="form-control">{{calculatorForm.value.net | number:'1.2-2'}}</div>

  <label>Net + Superannuation</label>
  <div class="form-control">{{calculatorForm.value.netPlusSuper | number:'1.2-2'}}</div>

  <br>
  <label>&nbsp;</label>
  <button type="button" class="btn btn-primary"
          [disabled]="calculatorForm.invalid"
          (click)="submit()">
    Submit
  </button>

  <!--
  {{calculatorForm.value | json}}
  -->
</div>
