<div *ngIf="records.length === 0">
  You don't have any tax records. Click <a routerLink="/calculator">here</a> to create one?
</div>

<div *ngIf="records.length > 0">
  <p>You have {{records.length}} record{{records.length === 1 ? '' : 's'}}.</p>

  <table class="table table-bordered">
    <tr>
      <th>No.</th>
      <th>Year</th>
      <th>Gross</th>
      <th>Superannuation</th>
      <th>Tax</th>
      <th>Net Income (after tax)</th>
      <th>Net Income + Super</th>
      <th>Tax Rate</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let rec of records; index as i">
      <td>{{i + 1}}</td>
      <td>{{rec.year | currency}}</td>
      <td>{{rec.gross | currency}}</td>
      <td>{{rec.superannuation | currency}}</td>
      <td>{{rec.tax | currency}}</td>
      <td>{{rec.net | currency}}</td>
      <td>{{rec.netPlusSuper | currency}}</td>
      <td class="rate">
        <ng-container *ngFor="let tier of rec.taxRate.tiers">
          {{tier[0]+1| currency}} - {{tier[1] | currency}}, {{tier[3] | currency}} plus {{tier[2] * 100}}c per dollar over {{tier[0] | currency}} <br>
        </ng-container>
      </td>
      <td><i class="glyphicon glyphicon-remove" (click)="remove(i)"></i></td>
    </tr>
  </table>
</div>
