<nav class="nav-bar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Tax Calculator</a>
    </div>

    <div class="collapse navbar-collapse" *ngIf="auth.isLoggedIn$ | async">
      <ul class="nav navbar-nav">
        <li><a routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
        <li><a routerLink="/history" routerLinkActive="active">History</a></li>
      </ul>
      <p class="navbar-text navbar-right">
        {{(auth.userInfo$ | async).fullName}}&nbsp;&nbsp;
        <a (click)="auth.logout()">Logout</a>
      </p>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
